<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>lurk - 404 error</title>
    <link rel="stylesheet" href="/css/404-style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="room">
      <div class="cuboid">
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
      </div>
      <div class="oops">
        <h2>OOPS!</h2>
        <p>
          the page that you were trying to find has gotten lost along the way :(
        </p>
      </div>
      <div class="center-line">
        <div class="hole">
          <div class="ladder-shadow"></div>
          <div class="ladder"></div>
        </div>
        <div class="four">4</div>
        <div class="four">4</div>
        <div class="btn">
          <a href="/">BACK TO MAIN PAGE</a>
        </div>
      </div>
    </div>
    <!-- partial -->
  </body>
</html>
